@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Turret+Road&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Homemade+Apple&family=Mr+Dafoe&family=Zeyada&display=swap');
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Special Elite', cursive;
}
.App {
  text-align: center;
  background-color: #282c34;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.navbar a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-decoration: none;
}
.home-letter {
  width: 661px;
  height: 697px;
  margin: 0 auto;
}
.home-letter-text {
  width: 550px;
  margin: 0 auto;
  padding: 45px 5px 0px;
}
.home-letter-text p {
  font-family: 'Zeyada', cursive;
  font-size: 35px;
}
.home-letter-play {
  border:2px solid grey;
  border-radius: 25px;
  padding: 10px 10px 5px;
  font-size: 35px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.8)
}
.container {
  display: flex;
  width: 960px;
  margin-bottom: 150px;
  margin: 0 auto;
}

.enigma{
  color: white;
  width: 360px;
}
.status div{
  display: inline;
  font-size: 20px;
  position: relative;
  top: -20px;
}
.infos{
  background-color: rgba(27, 27, 0, 0.6);
  margin-top: 150px;
  width: 300px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 0px 0px 20px grey;

}
.infos p {
  padding: 10px 25px;
  line-height: 25px;
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: green;
  text-shadow:
  0 0 30px rgba(202,228,225,0.34),
  0 0 12px rgba(30,132,242,0.52);
}
.box-title {
  font-size: 35px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 1)
}
.hints {
  margin-top: 150px;
  width: 300px;
  height: 400px;
  color: rgba(0, 0, 0, 1);
}
.hints p {
  margin: 15px 30px;
}
.hintsButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hintsButtons p {
  color: rgba(0, 0, 0, 1);
  padding: 5px;
  border: 2px solid grey;
  cursor: pointer;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.hintsButtons p:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
h1 {
  text-align: center;
}
img {
  max-height: 450px;
}
.door {
    display: inline-block;
    position: relative;
}
.doornumber {
  width: 70px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 76px;
  top: 55px;
  padding: 4px;
  border: 2px solid black;
  border-radius: 10px;
}
.doornumber span {
  font-family: 'Orbitron', sans-serif;
  text-shadow:
  0 0 30px rgba(202,228,225,0.34),
  0 0 12px rgba(30,132,242,0.52);
}
.doorbutton, .validEnigma, .resetbutton {
  cursor: pointer;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 15px;
  padding: 5px 10px;
}
.resetbutton {
  margin-top: 30px;
}
.board, .switches {
  margin-top: 90px;
}
.switches img{
  margin: 0 5px;
}
.board-row button {
  cursor: pointer;
  color: #282c34;
  font-size: 25px;
  background: rgba(255, 255, 255, 1);
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}
.board-row button:focus {
  outline: 0;
}
.enigma2hide {
  visibility: hidden;
}
.enigma2show {
  visibility: visible;
}
.wrapper {
  color: #585c64;
  font-size: 11px;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
}
.nextenigma div {
  width: 320px;
  background-color: rgba(30, 120, 30, 0.8);
  text-decoration: none;
  font-size: 40px;
  padding: 20px;
  position: fixed;
  top: 300px;
  margin: 0 auto;
  z-index: 1;
  border-radius: 20px;
  box-shadow: 0px 0px 50px black;
  color: rgba(255, 255, 255, 0.8)
}
